/* Reset to border box */
html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

/* Reset figure element */
figure {
	margin: 0;
	padding: 0;
}

/* Basic Structure */
.container {
    margin: 0 auto; 
    width: 90%
}

header {
	width: 100%;
}

footer {
	clear: both; 										
}

body {
	font: 1.2em/1.3 "Avenir Next", Arial, Helvetica, sans-serif;
	color: #333;
}

/* Logotype Style */
#logotype {
	width: 1024px;
	height: auto;
	margin: 0 auto;
}

#logotype a img {
	width: auto;
	height: auto;
	margin: 0px auto;
	display: block;
}


/* Style header and footer */
header {
	height: auto;
	padding: 24px;
	align: left;
}

footer {
	background-color: #ffce4e;
	color: #fff;
	font-weight: bold;
	left: 0px;
	bottom: 0px;
	text-align: center;
	padding: 1em;
}


h1 {
	font-size: 1.75em; /* 28px/16=1.75em */
	letter-spacing: 1px;
	line-height: 200%;
	font-weight: 600;
}

h2 {
	font-size: 1.125em; /* 18px/16=1.125em */
	font-weight: normal;
	line-height: 200%;
}

h3 {
	font-size: 0.875em; /* 14px/16=0.875em */
	font-weight: normal;
	line-height: 350%;
}

h4 {
	font-size: 0.875em; /* 14px/16=0.875em */
	font-weight: normal;
}

h5 {
	font-size: 0.875em; /* 14px/16=0.875em */
	font-weight: 600;
	line-height: 300%;
}

p {
	font-size: 0.75em; /* 12px/16=0.75em */
	margin-bottom: .6em;
	line-height: 125%;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #ffce4e;
}

a:hover;{
	color: #ffce4e;
}

/* Main Navigation Styles */
#nav {
	font-size: 0.875em; /* 14px/16=0.875em */
	font-family: "Avenir Next";
	font-weight: lighter;
	letter-spacing: 3px;
	width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
	padding-top: 1em;
	padding-bottom: .5em;
	list-style: none;
	overflow: hidden;
}

#nav ul {
	margin-top: 100px;
	position: relative;
	padding: 0;
}

#nav li {
	display: inline-block;
	text-align: center;
}

#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}

#nav li a:hover {
	color: #ffce4e;
}

						/* All CSS for images grid on the index page*/
img {
	max-width: 100%;
}

/* Thumbnail Grid Layout */

.thumbnail-grid {
	margin-bottom: 3em;
	/* overflow: auto; */
}

.thumbnail-grid li {
	float: left;
	margin-right: 1.33%;
	margin-bottom: 1em;
	width: 24%;
}

.thumbnail-grid li:nth-child(4n) {
	margin-right: 0;
}

.thumbnail-grid li:nth-child(4n+1) {
	clear: left;
}

.thumbnail-grid img {
	display: block; 
	margin-bottom: .3em;
}

/* IMAGE OVERLAYS */

.thumbnail {
	position: relative;	/* Set the container for the images */
}
.thumbnail .overlay {
	/* Set up the overlay text and background */
	background-color: #333;
	color: white;
	font-weight: 600;
	font-size: 220%;
	padding-top: 45%;
	padding-right: 10%;
	padding-left: 10%;
	text-align: center;

	/* Make the overlay fill its container */
	position: absolute;
	width: 100%;
	height: 100%;
	
	/* Hide the overlay */
	opacity: 0;
}

/* Show the overlay on hover */
.thumbnail-grid a:hover .overlay {
	opacity: 1;
}

/* Make a smooth transition for the overlay */
.thumbnail-grid a .overlay {
	transition: 1s all;
}

/* Utility classes */
.alignright {
	float: right;
	display: inline-block;
}
.alignleft {
	float: left;
	display: inline-block;
}


						/* END of CSS for images grid on the index page*/
.scene1 {
	color: #333; 
	padding: 70px;
	
    min-width:950px;
    max-width:950px;
    text-align:center;
    margin:0 auto;
}



/* List Styles */
.list {
	font-size: 0.75em; /* 12px/16=0.75em */
	list-style: none;
}

.list li a {
	text-decoration: none;
	color: #333;
}

.list li a:hover {
	color: #ffce4e;
}

/* Recipe Pages */

.aside-left {
  float: left;       
  width: 30%;
  padding-right: 50px;
  padding-bottom: 100px;
  padding-top: 70px;    
}

.main-content {
  float: left;        
  width: 40%;
  min-width:450px;
  max-width:450px;
  padding-right: 50px;
  padding-bottom: 100px;
  padding-top: 70px;      
}

.aside-right {
  float: left;
  width: 30%;
  padding-bottom: 100px;
  padding-top: 70px;         
}

#wrapper {
	margin-left: 15%;
}

.spaceafter {
	padding-bottom: 100px;	
}

/* Contributors and About Page */
.floatleft {
    float: left;     
    width: 50%;
    min-width:450px;
    max-width:450px;
	padding-top: 70px;   
	padding-bottom: 100px; 
}

.floatright {
    float: right;     
    width: 50%;
	padding-top: 70px;   
	padding-bottom: 100px; 
}

#wrap {
	margin-left: 29%;
}


/* Tips Section Index */
.feature.tips {
	float: right;
	width: 30%;
	margin-right: 10em;
	padding-top: 50px;
	padding-bottom: 100px;	
}

.feature.tips li {
	clear: left;
	float: left;
	padding-bottom: 1em;
	width: 100%;
}

.feature.contributor img {
	width: 100px;
	height: 100px;
}

.feature.tips li img {
	float: left;
	margin-right: 10px;
	width: 100px;
	height: 100px;
}

.feature.tips li figcaption {
	float: left;
}

.attribution {
	font-size: .8em;
	font-style: italic;
}


/* Feature Contributor Index */
.feature.contributor {
	float: left;
	width: 65%;
	margin-left: 10em;
	padding-top: 50px;
	padding-bottom: 100px;
    min-width:650px;
    max-width:650px;
}

.feature.contributor li img {
	float: left;
	margin: 0 10px 10px 0;
}
.feature.contributor figure {
	clear: both;
}

.feature.contributor img {
	width: 200px;
	height: 200px;
}

.feature.contributor li img {
	width: 50px;
	height: 50px;
}

/* More Tips on Tips Page */

.more.tips li {
	padding-right: 1em;
	clear: left;
	float: left;
	padding-bottom: 1em;
	width: 100%;
}

.more.contributor img {
	width: 100px;
	height: 100px;
}

.more.tips li img {
	float: left;
	width: 100px;
	height: 100px;
}

.more.tips li figcaption {
	float: left;
}

.more.attribution {
	padding-left: 8em;
	font-size: .8em;
	font-style: italic;
}

.caption {
	padding-left: 7.25em;
}
